# URL Endpoint API Backend (Arahkan ke folder API di lokal/XAMPP Anda atau staging cloud Anda)
EXPO_PUBLIC_API_URL=http://localhost/api-epasien/data

# Identitas Project ID dari Akun Expo Application Services (EAS) Anda (Ganti dengan ID milik Anda sendiri)
EXPO_PUBLIC_EAS_PROJECT_ID=
